.app-component {
    background-color: #fff;
}

.heading {
    font-size: 50px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.05em;
    text-align : center;
    padding-top : 3rem;
    line-height: 95px;  
    font-feature-settings: "pnum", "lnum";
    font-weight: 400;     
}

.subheading {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size : 25px;  
    letter-spacing: -0.05em;
    line-height: 5px;
    text-align: center;
    padding: 2px 4px;
}

.getInTouchBtn{
    text-align: center;
    padding: 50px;
}