.app-component {
    background-color: #fff;
}

.heading {
    font-size: 50px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: -0.05em;
    text-align : center;
    padding-top : 10rem;
    line-height: 90px;  
    font-weight: 400;     
}

.subheading {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size : 32px;  
    letter-spacing: -0.07em;
    line-height: 40px;
    text-align: center;
    padding : 1em 7em;
  
}

.getInTouchBtn{
    text-align: center;
    padding: 50px;
}

.jumbotron{
}